<dev>
    <label>Title</label>
    <input type="text" name="Title" value="<%= book.title%>">
</dev>
<dev>
    <label>Author</label>
    <select name="author">
    <% authors.forEach(author => { %>
        <% if (author.id === book.author){ %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
    <% }) %>
    </select>
</dev>
<dev> 
    <label>Publish Date</label>
    <input type="date" name="publishDate" 
        value="<%= book.publishDate == null ? '' : 
        book.publishDate.toISOString().split('T')[0] %>">
</dev>
<dev>
    <label>Cover</label>
    <input type="file" name="cover" >
</dev>
<dev> 
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
</dev>
<dev> 
    <label>Description</label>
    <textarea name="description" rows="5" cols="30"><%= book.description %></textarea>
</dev>
